@font-face {
    font-family: Dream;
    src: url('../fonts/SugarDream.ttf');
}

@media only screen and (max-width: 767px) {
    #books {
        margin: auto;
        width: 50%;
    }
}

.card {
    margin: 10px;
}

.page-item {
    color: mediumslateblue;
}

.title {
    font-size: 28px;
    margin-top: 10px;
    color: mediumslateblue;
    font-family: Dream;
}